@font-face {
    font-family: 'Geometric';
    src: local('Geometric Sans Serif v1'), local('GeometricSansSerifv1'), url('geometricsansserifv1.woff2') format('woff2'), url('geometricsansserifv1.woff') format('woff'), url('geometricsansserifv1.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
